body{
    background-image: url('https://thumbs.dreamstime.com/z/people-wellness-senior-woman-children-charity-orphanage-health-care-logo-people-care-logo-senior-woman-children-charity-118297662.jpg');
    background-size: 1350px, 300px;
}

.carsual{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 150px;
    margin-top: 200px;
    margin-bottom: 400px;

}   
.about{
    background-color:rgb(255, 170, 220);
    margin-top: 50px;
}


#button{
    display: flex;
     
}
.aboutlogo{
    text-decoration: none;
}